In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#using the clean dataset saved into the csv
cafe_sales = pd.read_csv('cafe_sales_cleaned2.csv')

In [3]:
cafe_sales.head(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_4801947,Juice,1.0,3.0,3.0,Digital Wallet,Takeaway,2023-01-01
1,TXN_9161256,Smoothie,2.0,4.0,8.0,Digital Wallet,In-store,2023-01-01
2,TXN_6093955,Tea,5.0,1.5,7.5,Digital Wallet,Takeaway,2023-01-01
3,TXN_8842223,Sandwich,5.0,4.0,20.0,Digital Wallet,In-store,2023-01-01
4,TXN_7367474,Juice,5.0,3.0,15.0,Digital Wallet,Takeaway,2023-01-01

In [4]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          9977 non-null   float64
 3   Price Per Unit    9994 non-null   float64
 4   Total Spent       9977 non-null   float64
 5   Payment Method    10000 non-null  object
 6   Location          10000 non-null  object
 7   Transaction Date  10000 non-null  object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [5]:
cafe_sales.isnull().sum()

Transaction ID       0
Item                 0
Quantity            23
Price Per Unit       6
Total Spent         23
Payment Method       0
Location             0
Transaction Date     0
dtype: int64

In [6]:
cafe_sales['Transaction Date'] = pd.to_datetime(cafe_sales['Transaction Date'])

In [7]:
cafe_sales.head(2)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_4801947,Juice,1.0,3.0,3.0,Digital Wallet,Takeaway,2023-01-01
1,TXN_9161256,Smoothie,2.0,4.0,8.0,Digital Wallet,In-store,2023-01-01

In [8]:
cafe_sales_cleaned = cafe_sales.dropna()

In [9]:
#cleaned dataset
cafe_sales_cleaned.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [10]:
cafe_sales_cleaned.describe()

          Quantity  Price Per Unit  Total Spent               Transaction Date
count  9974.000000     9974.000000  9974.000000                           9974
mean      3.024865        2.946962     8.927411  2023-07-10 08:43:47.631842816
min       1.000000        1.000000     1.000000            2023-01-01 00:00:00
25%       2.000000        2.000000     4.000000            2023-04-06 00:00:00
50%       3.000000        3.000000     8.000000            2023-07-11 00:00:00
75%       4.000000        4.000000    12.000000            2023-10-15 00:00:00
max       5.000000        5.000000    25.000000            2023-12-31 00:00:00
std       1.420504        1.280144     6.002644                            NaN

In [11]:
#Top selling items
cafe_sales_cleaned['Item'].value_counts()

Item
Juice       2131
Coffee      1160
Salad       1146
Cake        1138
Sandwich    1127
Smoothie    1094
Cookie      1090
Tea         1088
Name: count, dtype: int64

In [12]:
#most active store locations
cafe_sales_cleaned['Location'].value_counts()

Location
Takeaway    4998
In-store    4976
Name: count, dtype: int64

In [13]:
#most used payment method
cafe_sales_cleaned['Payment Method'].value_counts()

Payment Method
Credit Card       3342
Digital Wallet    3326
Cash              3306
Name: count, dtype: int64

In [20]:
#daily sales
daily_sales = cafe_sales_cleaned.groupby('Transaction Date')['Total Spent'].sum()
print(daily_sales)

#days with highest total sales
top_daily_sales = daily_sales.sort_values(ascending=False)
print(top_daily_sales.head(5))

Transaction Date
2023-12-31    4360.5
2023-07-24     371.5
2023-06-16     367.5
2023-01-05     363.5
2023-11-07     360.0
Name: Total Spent, dtype: float64

In [22]:
#monthly sales trends
cafe_sales_cleaned.loc[:, 'Month'] = cafe_sales_cleaned['Transaction Date'].dt.to_period('M')

In [24]:
#total sales per month
monthly_sales = cafe_sales_cleaned.groupby('Month')['Total Spent'].sum()

In [27]:
top_monthly_sales = monthly_sales.sort_values(ascending=False)
print(top_monthly_sales.head(5))

Month
2023-12    11341.5
2023-06     7353.0
2023-10     7314.0
2023-01     7254.0
2023-03     7216.0
Freq: M, Name: Total Spent, dtype: float64

In [28]:
#Average spending per transaction
cafe_sales_cleaned['Total Spent'].mean()

8.92741126930018

In [33]:
#top items by quantity sold

#total quantity sold for each item
items_sold = cafe_sales_cleaned.groupby('Item')['Quantity'].sum()
# print(items_sold)
top_items = items_sold.sort_values(ascending=False)
top_items.head(10)

Item
Juice       6393.0
Coffee      3536.0
Salad       3469.0
Cake        3468.0
Sandwich    3429.0
Smoothie    3336.0
Tea         3307.0
Cookie      3232.0
Name: Quantity, dtype: float64

In [35]:
#Top revenue generating items
cafe_sales_cleaned.groupby('Item')['Total Spent'].sum().sort_values(ascending=False).head(10)

Item
Juice       18968.5
Salad       17345.0
Sandwich    13716.0
Smoothie    13344.0
Cake        10404.0
Coffee       7072.0
Tea          4960.5
Cookie       3232.0
Name: Total Spent, dtype: float64

In [36]:
#revenue by location
cafe_sales_cleaned.groupby('Location')['Total Spent'].sum().sort_values(ascending=False)

Location
Takeaway    44559.0
In-store    44483.0
Name: Total Spent, dtype: float64

In [40]:
#average price per item
cafe_sales_cleaned.groupby('Item')['Price Per Unit'].mean().sort_values(ascending=False).head()

Item
Salad       5.000000
Sandwich    4.000000
Smoothie    4.000000
Cake        3.000000
Juice       2.967152
Name: Price Per Unit, dtype: float64