In [2]:
import pandas as pd
import numpy as np

In [3]:
cafe_sales = pd.read_csv(r"C:\Users\DELL\Downloads\archive\dirty_cafe_sales.csv")

In [4]:
cafe_sales

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [5]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [6]:
#HANDLING DATA INCONSISTENCIES

In [7]:
# Datatype of the columns Quantity, Price Per Unit, Total Spent and Transaction Date need to be changed to numeric and date respectively

In [8]:
# Handling Quantity column
# cafe_sales['Quantity'].info()
cafe_sales['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [9]:
# replacing 'ERROR' and 'UNKNOWN' for consistency in numerical operations
cafe_sales['Quantity'] = cafe_sales['Quantity'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [10]:
# cafe_sales['Quantity'].unique()

#Changing column datatype
cafe_sales['Quantity'] = pd.to_numeric(cafe_sales['Quantity'])

In [11]:
cafe_sales['Quantity'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Quantity
Non-Null Count  Dtype
--------------  -----
9521 non-null   float64
dtypes: float64(1)
memory usage: 78.3 KB

In [12]:
# cafe_sales['Transaction Date'].unique()
# cafe_sales['Transaction Date'].isna().sum()

#Rows in Transaction Date column with ERROR and UNKNOWN
mask = cafe_sales['Transaction Date'].isin(['ERROR', 'UNKNOWN'])
cafe_sales[mask]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,ERROR
29,TXN_7640952,Cake,4.0,3.0,12.0,Digital Wallet,Takeaway,ERROR
33,TXN_7710508,UNKNOWN,5.0,1.0,5.0,Cash,NaN,ERROR
103,TXN_7028009,Cake,4.0,3.0,12.0,NaN,Takeaway,ERROR
115,TXN_1001832,Salad,2.0,5.0,10.0,Cash,Takeaway,UNKNOWN
...,...,...,...,...,...,...,...,...
9907,TXN_8104914,Cookie,1.0,1.0,1.0,NaN,Takeaway,UNKNOWN
9933,TXN_9460419,Cake,1.0,3.0,3.0,NaN,Takeaway,UNKNOWN
9937,TXN_8253472,Cake,1.0,3.0,3.0,NaN,NaN,UNKNOWN
9949,TXN_3130865,Juice,3.0,3.0,9.0,NaN,In-store,UNKNOWN
9983,TXN_9226047,Smoothie,3.0,4.0,12.0,Cash,NaN,UNKNOWN

In [13]:
#counting how many rows with error and unknown
cafe_sales['Transaction Date'].isin(['ERROR', 'UNKNOWN']).sum()

301

In [14]:
# cafe_sales['Item'].unique()
# cafe_sales['Price Per Unit'].unique()
# cafe_sales['Total Spent'].unique()
# cafe_sales['Payment Method'].unique()
# cafe_sales['Location'].unique()

In [15]:
#Replacing all the rows in the dataset that have ERROR and UNKNOWN to achieve data consistency
cafe_sales = cafe_sales.replace(['ERROR', 'UNKNOWN'], np.nan)

In [16]:
#checking
cafe_sales.isin(['ERROR', 'UNKNOWN']).sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [17]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   object
 4   Total Spent       9498 non-null   object
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   object
dtypes: float64(1), object(7)
memory usage: 625.1+ KB

In [18]:
#changing datatypes for columns
cafe_sales['Price Per Unit'] = pd.to_numeric(cafe_sales['Price Per Unit'])
cafe_sales['Total Spent'] = pd.to_numeric(cafe_sales['Total Spent'])
cafe_sales['Transaction Date'] = pd.to_datetime(cafe_sales['Transaction Date'])

In [19]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [20]:
#checkin null values in each column
cafe_sales.isnull().sum()

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [21]:
#checking for duplicate rows
cafe_sales.duplicated().sum()

0

In [22]:
cafe_sales.describe(include = 'all')

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9031,9521.000000,9467.000000,9498.000000,6822,6039,9540
unique,10000,8,NaN,NaN,NaN,3,2,NaN
top,TXN_1961373,Juice,NaN,NaN,NaN,Digital Wallet,Takeaway,NaN
freq,1,1171,NaN,NaN,NaN,2291,3022,NaN
mean,NaN,NaN,3.028463,2.949984,8.924352,NaN,NaN,2023-07-01 23:00:31.698113280
min,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN,2023-01-01 00:00:00
25%,NaN,NaN,2.000000,2.000000,4.000000,NaN,NaN,2023-04-01 00:00:00
50%,NaN,NaN,3.000000,3.000000,8.000000,NaN,NaN,2023-07-02 00:00:00
75%,NaN,NaN,4.000000,4.000000,12.000000,NaN,NaN,2023-10-02 00:00:00
max,NaN,NaN,5.000000,5.000000,25.000000,NaN,NaN,2023-12-31 00:00:00
std,NaN,NaN,1.419007,1.278450,6.009919,NaN,NaN,NaN

In [23]:
#Data imputation

In [24]:
# Price Per Unit, Quantity and Total Spent are related to each other
# PPU = TS/Q
# Q = TS/PPU
# TS = PPU * Q

In [25]:
#Filling null values of Price Per Unit column
#None null values of TS and Q will fill in null values of PPU: PPU = TS/Q
ppu_missing = cafe_sales['Price Per Unit'].isna() & cafe_sales['Total Spent'].notna() & cafe_sales['Quantity'].notna()
cafe_sales.loc[ppu_missing, 'Price Per Unit'] = cafe_sales.loc[ppu_missing, 'Total Spent'] / cafe_sales.loc[ppu_missing, 'Quantity']

In [26]:
cafe_sales['Price Per Unit'].isnull().sum()
#from 533 null values to 38 null values

38

In [27]:
#similarly, for columns Quantity and Total Spent
#filling TS when PPU and Q are known: TS = PPU * Q
ts_missing = cafe_sales['Total Spent'].isna() & cafe_sales['Price Per Unit'].notna() & cafe_sales['Quantity'].notna()
cafe_sales.loc[ts_missing, 'Total Spent'] = cafe_sales.loc[ts_missing, 'Price Per Unit'] * cafe_sales.loc[ts_missing, 'Quantity']

In [30]:
cafe_sales['Total Spent'].isnull().sum()
#from 502 to 40 null values

40

In [32]:
#filling Q when PPU and TS are known: Q = TS/PPU
qty_missing = cafe_sales['Quantity'].isna() & cafe_sales['Price Per Unit'].notna() & cafe_sales['Total Spent'].notna()
cafe_sales.loc[qty_missing, 'Quantity'] = cafe_sales.loc[qty_missing, 'Total Spent'] / cafe_sales.loc[qty_missing, 'Price Per Unit']

In [33]:
cafe_sales['Quantity'].isnull().sum()
#from 479 to 38

38

In [36]:
#Price Per Unit column can further be imputed using the Items column
#to ensure data quality for imputation,
#calculating average price per unit for each item to get a mean price value for a particular item
price_per_item = cafe_sales.groupby('Item')['Price Per Unit'].mean()

In [37]:
print(price_per_item)

Item
Cake        3.0
Coffee      2.0
Cookie      1.0
Juice       3.0
Salad       5.0
Sandwich    4.0
Smoothie    4.0
Tea         1.5
Name: Price Per Unit, dtype: float64

In [38]:
#missing values in the PPU column are filled by looking at the Item in that row and then using the avg ppu calculated for that item to fill row
cafe_sales['Price Per Unit'] = cafe_sales['Price Per Unit'].fillna(cafe_sales['Item'].map(price_per_item))

In [40]:
#verifying if missing values are filled
cafe_sales['Price Per Unit'].isnull().sum()
#from 38 to 6

6

In [42]:
#now, to further reduce missing values in Quantity column using the new reduced Price Per Unit column
#using same formula
#filling Q when PPU and TS are known: Q = TS/PPU
qty_missing = cafe_sales['Quantity'].isna() & cafe_sales['Price Per Unit'].notna() & cafe_sales['Total Spent'].notna()
cafe_sales.loc[qty_missing, 'Quantity'] = cafe_sales.loc[qty_missing, 'Total Spent'] / cafe_sales.loc[qty_missing, 'Price Per Unit']

In [46]:
cafe_sales['Quantity'].isnull().sum()
#from 38 to 23

23

In [47]:
#similarly for Total Spent column, using the new reduced Price Per Unit column

#filling TS when PPU and Q are known: TS = PPU * Q
ts_missing = cafe_sales['Total Spent'].isna() & cafe_sales['Price Per Unit'].notna() & cafe_sales['Quantity'].notna()
cafe_sales.loc[ts_missing, 'Total Spent'] = cafe_sales.loc[ts_missing, 'Price Per Unit'] * cafe_sales.loc[ts_missing, 'Quantity']

In [48]:
cafe_sales['Total Spent'].isnull().sum()
#from 40 to 23

23

In [49]:
#handling Item column

In [58]:
#imputing using mode
most_common_item = cafe_sales['Item'].mode()[0]
cafe_sales['Item'] = cafe_sales['Item'].fillna(most_common_item)

In [59]:
cafe_sales.isnull().sum()

Transaction ID         0
Item                   0
Quantity              23
Price Per Unit         6
Total Spent           23
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [61]:
# cafe_sales_cleaned = pd.read_csv('cafe_sales_cleaned.csv')
cafe_sales.to_csv('cafe_sales_cleaned.csv', index=False)

In [62]:
import os
print(os.getcwd())

C:\Users\DELL

In [2]:
import pandas as pd
import numpy as np

cafe_sales = pd.read_csv('cafe_sales_cleaned.csv')

In [5]:
# cafe_sales.head(5)
print(cafe_sales.info())
print(cafe_sales.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              10000 non-null  object
 2   Quantity          9977 non-null   float64
 3   Price Per Unit    9994 non-null   float64
 4   Total Spent       9977 non-null   float64
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB
None
Transaction ID         0
Item                   0
Quantity              23
Price Per Unit         6
Total Spent           23
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [3]:
cafe_sales['Transaction Date'] = pd.to_datetime(cafe_sales['Transaction Date'])

In [7]:
#Checking if sorted
# cafe_sales['Transaction Date'].is_monotonic_increasing
cafe_sales['Transaction Date'].is_monotonic_decreasing

False

In [4]:
#Sorting
cafe_sales = cafe_sales.sort_values(by='Transaction Date').reset_index(drop=True)

In [5]:
#filling missing rows
cafe_sales['Transaction Date'] = cafe_sales['Transaction Date'].ffill()

cafe_sales['Transaction Date'].isna().sum()

0

In [6]:
cafe_sales.isnull().sum()

Transaction ID         0
Item                   0
Quantity              23
Price Per Unit         6
Total Spent           23
Payment Method      3178
Location            3961
Transaction Date       0
dtype: int64

In [7]:
#filling the remaining columns
cafe_sales['Location'] = cafe_sales['Location'].ffill()
cafe_sales['Payment Method'] = cafe_sales['Payment Method'].ffill()

In [8]:
cafe_sales.isnull().sum()

Transaction ID       0
Item                 0
Quantity            23
Price Per Unit       6
Total Spent         23
Payment Method       0
Location             0
Transaction Date     0
dtype: int64

In [9]:
cafe_sales.to_csv('cafe_sales_cleaned2.csv', index=False)